/* 主体样式 */
#conBox{width: 100%;height: 100%;overflow: auto;}
#main{width: 100%;}

/* 头部样式开始 */
#header{width: 100%;height: 65px;position: relative;min-width: 1300px;}
#header > .header1{width: 33.3333%;height: 100%; float: left;}
#header > .header1 > .logo{width: 30px;height: 30px;margin-left: 35px;margin-top: 15px;float: left;}
#header > .header1 > .title1{font-size: 18px;color: white;float: left;margin-top: 17px;margin-left: 5px;}
#header > .header1 > .title2{font-size: 12px;float: left;margin-top: 20px;color: #00ffff;}
#header > .header2{width: 33.3333%; float: left;background: url(../images/center_bj.png) no-repeat;
					background-size: 100% 100%;}
#header > .header2 > .titleImg{margin: 15px auto; width: 66%;}
#header > .header2 > .titleImg > li{float: left; width: 14%;cursor: pointer;}
#header > .header2 > .titleImg > li > img{width: 70%;margin-left: 25%;}
#header > .header3{width: 33.3333%; float: left;padding-left: 15px;box-sizing: border-box;position: relative;height: 100%;}
#header > .header3 > .showBig{position: absolute;left:19%;top: 23px; width: 25px;height: 25px;cursor: pointer;
						background: url(../images/sf_icon.png)no-repeat;background-size: 100% 100%;}
#header > .header3 > input{position: absolute;left: 25%;top: 20px;width: 50%;height: 30px;box-sizing: border-box;
							border-radius: 25px;border: 1px solid lightseagreen;background-color: rgba(0,0,0,0.2);color:lightseagreen;
							padding-left: 6%;outline:none;}
#header > .header3 > input::-webkit-input-placeholder{ color:#00ffff;}
#header > .header3 > .search_icon{position: absolute;left: 27%;top:25px;width: 20px;height: 20px;background: url(../images/search_min_icon.png) no-repeat;
									background-size: 100% 100%;}
#header > .header3 > .maxSearch_icon{position: absolute;left: 80%;top: 20px; width: 30px; height: 30px;background: url(../images/search_max_icon.png) no-repeat;
										background-size: 100% 100%;cursor: pointer;}
#header > .header3 > .Setting_icon{position: absolute;left: 90%;top: 20px; width: 30px; height: 30px;background: url(../images/setting.png) no-repeat;
									background-size: 100% 100%;cursor: pointer;}
#header > .header3 > .time{position: absolute;left: -71%;bottom: -1.5rem;font-size: 14px;color: #00ffff;}

/* 头部样式结束 */

/* 主体左侧开始 */
#content{width: 100%;}
#left{width: 24%;margin-left: 16px;min-width: 309px;float: left;}
#left > .item{width: 100%;}
#left > .item > li{width: 100%;background: url(../images/table_bj.png) no-repeat;background-size: 100% 100%;margin-bottom: 15px;
					padding: 15px 15px 10px 15px;opacity: 1;box-sizing: border-box;}
#left > .item > li:nth-child(1){
	background: url(../images/item1.png) no-repeat;background-size: 100% 100%;
}
#left >.item > li > .item1{font-size: 10px;color: #00ffff;margin-left: 4%;}
#left > .item > li > .item2{color: white;font-size: 8px;}
#left > .item > li > .item2 > ul > li{float: right;margin-right: 10px;}
#left > .item > li > .item2 > ul > li > span{font-size: 16px;color: #00ffff;}
#left > .item > li > .item2 > ul > li:nth-child(3) > span{color: #fd9d02;}
#left > .item > li > .item3,#left > .item > li > .item3 > ul{width: 100%;}
#left > .item > li > .item3 > ul > li{width: 100%;height: 25px;background: #0c1e46;margin-top: 3px;color: white;}
#left > .item > li > .item3 > ul > li:nth-child(1){background: #0082fd;margin-top: 5px;}
#left > .item > li > .item3 > ul > li > .titleList{width: 100%;height: 100%;}
#left > .item > li > .item3 > ul > li > .titleList > li{height: 100%;float: left;font: 10px/20px '微软雅黑';overflow: hidden;}
#left > .item > li > .item3 > ul > li > .titleList > li:nth-child(1){width: 25%;}
#left > .item > li > .item3 > ul > li > .titleList > li:nth-child(2){width: 15%;}
#left > .item > li > .item3 > ul > li > .titleList > li:nth-child(3){width: 10%;}
#left > .item > li > .item3 > ul > li > .titleList > li:nth-child(4){width: 15%;}
#left > .item > li > .item3 > ul > li > .titleList > li:nth-child(5){width: 10%;}
#left > .item > li > .item3 > ul > li > .titleList > li:nth-child(6){width: 15%;}
#left > .item > li > .item3 > ul > li > .titleList > li:nth-child(7){width: 10%;text-align: right;}
#left > .item > li > .item3 > ul > li > .titleList > li:nth-child(4){text-align: center;}
#left > .item > li > .item3 > ul > li > .titleList > li > span{display: inline-block;width: 36px; height: 16px;border-radius: 15px;
																	text-align: center;margin-top: 1px;font: 8px/15px '微软雅黑';}
#left > .item > li > .item3 > ul > li > .titleList > li > span:nth-child(1){background: #fd9d02;}
#left > .item > li > .item3 > ul > li > .titleList > li > span:nth-child(2){border: 1px solid #065fba;}
#left > .item > li > .item3 > ul > li > .titleList > li > .xl_icon{display: inline-block;width: 14px;}
#left > .item > li > .item4 > input{width: 100%;height: 20px;box-sizing: border-box;
							border-radius: 25px;border: 1px solid #065fba;background-color: rgba(0,0,0,0.2);color:#065fba;
							padding-left: 6%;outline:none;}
#header > .header3 > input::-webkit-input-placeholder{ color:#065fba;}

	.Switch input {
		display: none;
	}
	.Switch label {
		width: 30px;
		background: #a4d714;
		height: 17px;
		border-radius: 17px;
		float: right;
		/* margin: 8px 10px 0 0; */
		box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
	}
	.Switch label em {
		width: 15px;
		height: 15px;
		float: left;
		margin: 1px;
		border-radius: 15px;
		box-shadow: 2px 3px 10px rgba(0,0,0,.1);
		background: #FFF;
		transition: 0.1s;
	}
	.Switch input:checked + label {
		background: #CCC;
	}
	.Switch input:checked + label em {
		margin: 1px 1px 1px 14px;
	}
	.Switch input:disabled + label {
		opacity: 0.5
	}

/* 主体左侧结束 */













/* 右侧开始 */
.videoItem{
	float: right;width: 30%;height:40px;margin-right: 10px;margin-top: 10px;
}
#right{width: 24%;margin-right: 16px;min-width: 309px;float: right;}
#right > .item{width: 100%;}
#right > .item > li{width: 100%;background: url(../images/bj_02.png) no-repeat;background-size: 100% 100%;margin-bottom: 15px;
					padding: 7px 10px 10px 10px;opacity: 1;box-sizing: border-box;}
/* 右侧结束 */
