<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>平山楼宇-日常事件</title>
		<link rel="stylesheet" type="text/css" href="css/resetcss.css"/>
		<link rel="stylesheet" type="text/css" href="css/rcsj.css"/>
		<link rel="stylesheet" type="text/css" href="css/icons.css"/>
		
		<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.common.min.js"></script>
		<script src='http://api.map.baidu.com/api?v=2.0&ak=1pSTowk3vMReXCQA08ypPGfGoOaZI0qk'></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		
		<div id="conBox">
			
			<div id="allmap" style="width: 100%;"></div>
			
			<section id="main">
				
				<header id="header" class="clearfix">
					<div class="header1">
						<img class="logo" src="./images/school_icon.png" alt="">
						<h1 class="title1">平山楼宇-</h1>
						<h2 class="title2">日常事件</h2>
					</div>
					<div class="header2 ">
						<ul class="titleImg clearfix">
							<li><span class="icon-statistics nav-top " data-href="psly_sjtj.html"></span></li>
							<li><span class="icon-equipment nav-top " data-href="psly_sbkz.html"></li>
							<li><span class="icon-camera nav-top " data-href="psly_spfx.html"></li>
							<li><span class="icon-incident nav-top active-icon" data-href="psly_rcsj.html"></li>
							<li><span class="icon-emergency_events nav-top " data-href="psly_afsj.html"></li>
							<li><span class="icon-location nav-top " data-href="psly_tsdw.html"></li>
							<li><span class="icon-park nav-top " data-href="psly_tcc.html"></li>
						</ul>
					</div>
					<div class="header3">
						<div class="showBig" @click="fullScreen"></div>
						<input type="text" placeholder="如阳光国际...">
						<div class="search_icon"></div>
						<div class="maxSearch_icon"></div>
						<div class="Setting_icon"></div>
						<div class="time">2019年6月6日 星期四 农历五月初四</div>
					</div>
				</header>
				
				<div id="content">
					<ul id="itemUl" class="item">
						<li>
							<h3 class="item1">今日事件</h3>
							<div class="item2">
								<ul class="clearfix">
									<li>事件处理完成<span> 16 </span></li>
									<li>事件待处理<span> 0 </span></li>
									<li>事件处理中<span> 3 </span></li>
								</ul>
							</div>
							<div class="item3" id="echartsTable" style="width: 100%;height:150px;"></div>
						</li>
						<li>
							<h3 class="item1">环保事件</h3>
							<div class="item2">
								<ul class="clearfix">
									<li>事件处理完成<span> 5 </span></li>
									<li>事件待处理<span> 10 </span></li>
									<li>事件处理中<span> 5 </span></li>
								</ul>
							</div>
							<div class="item3">
								<ul>
									<li>
										<ul class="titleList clearfix">
											<li>区域</li>
											<li>处理人</li>
											<li>事件</li>
											<li>状态
												<img class="xl_icon" src="images/xl_icon.png" />
											</li>
											<li>操作 </li>
										</ul>
									</li>
									<li v-for="(e, index) in errsHB" v-if="index<2" :key="index">
										<ul class="titleList clearfix">
											<li>{{['12-01','24-08'][index]}}</li>
											<li>{{e.empName}}</li>
											<li>{{e.errsValue}}</li>
											<li :class="{untreated:e.errsOs === 1,processing:e.errsOs===2}">{{['','待处理', '处理中'][e.errsOs]}}</li>
											<li>
												<span>定位</span>
												<span>详情</span>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<h3 class="item1">工商事件</h3>
							<div class="item2">
								<ul class="clearfix">
									<li>事件处理完成<span> 16 </span></li>
									<li>事件待处理<span> 0 </span></li>
									<li>事件处理中<span> 3 </span></li>
								</ul>
							</div>
							<div class="item3">
								<ul>
									<li>
										<ul class="titleList clearfix">
											<li>区域</li>
											<li>处理人</li>
											<li>事件</li>
											<li>状态
												<img class="xl_icon" src="images/xl_icon.png" />
											</li>
											<li>操作 </li>
										</ul>
									</li>
									<li v-for="(e, index) in errsGS" v-if="index<2" :key="index">
										<ul class="titleList clearfix">
											<li>{{['12-01','24-08'][index]}}</li>
											<li>{{e.empName}}</li>
											<li>{{e.errsValue}}</li>
											<li :class="{untreated:e.errsOs === 1,processing:e.errsOs===2}">{{['','待处理', '处理中'][e.errsOs]}}</li>
											<li>
												<span>定位</span>
												<span>详情</span>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<h3 class="item1">民政事件</h3>
							<div class="item2">
								<ul class="clearfix">
									<li>事件处理完成<span> 16 </span></li>
									<li>事件待处理<span> 0 </span></li>
									<li>事件处理中<span> 3 </span></li>
								</ul>
							</div>
							<div class="item3">
								<ul>
									<li>
										<ul class="titleList clearfix">
											<li>区域</li>
											<li>处理人</li>
											<li>事件</li>
											<li>状态
												<img class="xl_icon" src="images/xl_icon.png" />
											</li>
											<li>操作 </li>
										</ul>
									</li>
									<li v-for="(e, index) in errsMZ" v-if="index<2" :key="index">
										<ul class="titleList clearfix">
											<li>{{['12-01','24-08'][index]}}</li>
											<li>{{e.empName}}</li>
											<li>{{e.errsValue}}</li>
											<li :class="{untreated:e.errsOs === 1,processing:e.errsOs===2}">{{['','待处理', '处理中'][e.errsOs]}}</li>
											<li>
												<span>定位</span>
												<span>详情</span>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<h3 class="item1">税务事件</h3>
							<div class="item2">
								<ul class="clearfix">
									<li>事件处理完成<span> 16 </span></li>
									<li>事件待处理<span> 0 </span></li>
									<li>事件处理中<span> 3 </span></li>
								</ul>
							</div>
							<div class="item3">
								<ul>
									<li>
										<ul class="titleList clearfix">
											<li>区域</li>
											<li>处理人</li>
											<li>事件</li>
											<li>状态
												<img class="xl_icon" src="images/xl_icon.png" />
											</li>
											<li>操作 </li>
										</ul>
									</li>
									<li v-for="(e, index) in errsSW" v-if="index<2" :key="index">
										<ul class="titleList clearfix">
											<li>12-01</li>
											<li>{{e.empName}}</li>
											<li>{{e.errsValue}}</li>
											<li :class="{untreated:e.errsOs === 1,processing:e.errsOs===2}">{{['','待处理', '处理中'][e.errsOs]}}</li>
											<li>
												<span>定位</span>
												<span>详情</span>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<h3 class="item1">公安事件</h3>
							<div class="item2">
								<ul class="clearfix">
									<li>事件处理完成<span> 16 </span></li>
									<li>事件待处理<span> 0 </span></li>
									<li>事件处理中<span> 3 </span></li>
								</ul>
							</div>
							<div class="item3">
								<ul>
									<li>
										<ul class="titleList clearfix">
											<li>区域</li>
											<li>处理人</li>
											<li>事件</li>
											<li>状态
												<img class="xl_icon" src="images/xl_icon.png" />
											</li>
											<li>操作 </li>
										</ul>
									</li>
									<li v-for="(e, index) in errsGA" v-if="index < 2" :key="index">
										<ul class="titleList clearfix">
											<li>{{['12-01','24-08'][index]}}</li>
											<li>{{e.empName}}</li>
											<li>{{e.errsValue}}</li>
											<li :class="{untreated:e.errsOs === 1,processing:e.errsOs===2}">{{['','待处理', '处理中'][e.errsOs]}}</li>
											<li>
												<span>定位</span>
												<span>详情</span>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
					</ul>
					<span class="btnLeft" id="btnLeft"></span> 
				</div>
			
			</section>
		</div>
		
		<script>
			
			window.onload= function() {
				
				var btnLeft = document.getElementById('btnLeft')
				var content = document.getElementById('content')
				var itemUl = document.getElementById('itemUl')
				var cW = content.offsetWidth


				// 头部导航
				var navTops = document.getElementsByClassName('nav-top')
				for(var i = 0; i < navTops.length; i++) {
					navTops[i].index = i
					navTops[i].onclick = function() {
						for(var i = 0; i < navTops.length; i++) {
							navTops[i].classList.remove('active-icon')
						}
						this.classList.add('active-icon')
						window.location.href = this.dataset.href;
					}
				}

				// 左边显示隐藏
				var clickFlag = true
				btnLeft.onclick = function() {
					console.log('点击了')
					console.log(clickFlag)
					if(clickFlag) {
						itemUl.style.width = cW - 50 + 'px'
						itemUl.style.opacity = 0
						btnLeft.style.left = 0 + 'px'
						clickFlag = false
					} else {
						itemUl.style.opacity = 1
						content.style.width = '24%'
						itemUl.style.width = '100%'
						btnLeft.style.left = cW + 10 + 'px'
						clickFlag = true
					}
				}	

				initMapHeight() // 设置地图的高度
				function initMapHeight() {
					var mainNode = document.getElementById('main')
					var allmap = document.getElementById('allmap')
					var mH =  mainNode.offsetHeight
					allmap.style.height = mH+ 300 + 'px'
					btnLeft.style.left = cW + 10 + 'px'
				}
				
				
				/** 百度地图开始 踩坑1：百度地图必须放在vue之后，不然无法渲染数据 **/
				initMap()
				function initMap() {
					var point = new BMap.Point(106.374814,29.60782);
					var map = new BMap.Map("allmap",{minZoom:6,maxZoom:100,mapType:BMAP_HYBRID_MAP,enableMapClick:false});    // 创建Map实例
					map.centerAndZoom(point, 17);  // 初始化地图,设置中心点坐标和地图级别
					
					/**添加地图类型控件*/
					map.addControl(new BMap.MapTypeControl({
						mapTypes:[
							BMAP_NORMAL_MAP,
							BMAP_HYBRID_MAP
						]}));	  
					map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
					/**添加地图类型控件结束*/
					
					/*** 自定义控件*/
					addControlLeft();
					function addControlLeft() {
						function zoomControl() {
							this.defaultAnchor = BMAP_ANCHOR_TOP_LEFT;
							this.defaultOffset = new BMap.Size(0, 65);
						}
						zoomControl.prototype = new BMap.Control();
						zoomControl.prototype.initialize = function (map) {
							var content = document.getElementById("content");
							map.getContainer().appendChild(content);
							return content;
						}
						var myZoomCtrl = new zoomControl();
						map.addControl(myZoomCtrl);
					}
					
					addTitle(); // 顶部控件
				    function addTitle(e,x,y) {
						function zoomControl() {
						  this.defaultAnchor = BMAP_ANCHOR_TOP_RIGHT;
						  this.defaultOffset = new BMap.Size(0, 0);
						}
				
						// 集成Control类
						zoomControl.prototype = new BMap.Control();
						// 实现initialize方法
						zoomControl.prototype.initialize = function (map) {
						  // 创建一个DOM元素
						  var div = document.getElementById("header");
				
						  // 添加DOM元素到地图中
						  map.getContainer().appendChild(div);
						  return div;
						}
						// 创建控件
						var myZoomCtrl = new zoomControl();
						map.addControl(myZoomCtrl);
					  }// 自定义控件添加完成
					/** 自定义控件结束 **/
					
					/** 添加圆形遮罩 */
					var circle = new BMap.Circle(point,5000000,{strokeColor:"blue", fillColor: "#0c1e46", fillOpacity: 0.5,strokeWeight:2, strokeOpacity:0.5});
					map.addOverlay(circle);            //增加圆
					circle.disableMassClear() //禁止清除
					/** 添加圆形遮罩结束 */
					
					var opts = {
						width:320,     // 信息窗口宽度
						height: 170,     // 信息窗口高度
						enableMessage: true//设置允许信息窗发送短息
					};
					var opts1 = {
						width:320,     // 信息窗口宽度
						height: 250,     // 信息窗口高度
						enableMessage: true//设置允许信息窗发送短息
					};
					
					function Obj(point, str, label, icon) {
						this.point = point;
						this.str = str;
						this.label = label;
						this.icon = icon;
					}
					
					/** 模板1 */
					function tlp1(d) {
						return '<div id="moban" style ="width:298px;height:133px; padding: 25px 10px 10px 10px;position: absolute;bottom: 0;left:0px; border: 1px solid #00d585;border-radius:10px;">' +
							'<table style="color: #fff; font-size: 14px; margin-left: 20px">' +
							'<tr><td>异常简述：</td><td id="errsValue">'+d.name+'</td></tr>' +
							'<tr><td>上报设备：</td><td>'+d.name+'</td></tr>' +
							'<tr><td>发生时间：</td><td>'+d.name+'</td></tr>' +
							'</table>' +
							'</div>'
					}
					/** 模板2 */
					function tlp2(d) {
						return '<div id="moban" style ="width:298px;height:213px; padding: 25px 10px 10px 10px;position: absolute;bottom: 0;left:0px;border: 1px solid #fd9d02;border-radius:10px;">' +
							'<table style="color: #fff; font-size: 14px; margin-left: 20px">' +
							'<tr><td>异常简述：</td><td id="errsValue">'+d.name+'</td></tr>' +
							'<tr><td>上报设备：</td><td>'+d.name+'</td></tr>' +
							'<tr><td>发生时间：</td><td>'+d.name+'</td></tr>' +
							'</table>' +
							'</div>'
					}
					
					//创建自定义覆盖物图标
					var myIcon = new BMap.Icon("./images/mapIcon/combustible_gas2.png", new BMap.Size(50,50));
					var myIcon1 = new BMap.Icon("./images/mapIcon/guard_people2.png", new BMap.Size(50,50));
					
					var d = {
						id : 1,
						name: '模板测试1'
					}
					var d1 = {
						id : 2,
						name: '模板测试2'
					}
					
					var info = document.getElementById('info')
					var ddd = document.getElementById('ddd')
					var data_1 = [];
					data_1.push(new Obj(point, tlp1(d), "", myIcon));
					addMarker(data_1,opts)
					
					var marker2 = new BMap.Marker(new BMap.Point(106.377814,29.60782),{icon:myIcon1});  // 创建标注
					map.addOverlay(marker2);
					// marker2.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
					addClickHandler(tlp2(d1), marker2, opts1);
					
					 //批量添加Marker并添加显示框
					 function addMarker(data_info, opts) {
						for (var i = 0; i < data_info.length; i++) {
						  var marker = new BMap.Marker(data_info[i].point);
						  marker.setIcon(data_info[i].icon);
						  var content = data_info[i].str;
						  if (data_info[i].label) {
							marker.setLabel(new BMap.Label(data_info[i].label, {offset: new BMap.Size(20, -10)}));
						  }
						  map.addOverlay(marker);
						  marker.setAnimation(BMAP_ANIMATION_BOUNCE)
						  addClickHandler(content, marker, opts);
						}
					  }
				
					  function addClickHandler(content, marker, opts) {
						marker.addEventListener("click", function (e) {
							openInfo(content, e, opts)
						  }
						);
					  }
				
					  function openInfo(content, e, opts) {
						var p = e.target;
						var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
						var infoWindow = new BMap.InfoWindow(content, opts);  // 创建信息窗口对象
						p.openInfoWindow(infoWindow, point); //开启信息窗口
						map.panTo(point, true)
					  }
					  
				}
				/** 百度地图结束 **/
				
				/** 初始化echarts 采坑2：echarts图必须放在百度地图之后，不然无法显示图形*/
				var myChart = '';
				initEcharts('echartsTable')
				function initEcharts(e) {
					myChart = echarts.init(document.getElementById(e));
					var option = {
						color: ['#3398DB'],
						grid: { // 设置图形大小
							left: '3%',
							right: '4%',
							bottom: '3%',
							top: '20%',
							containLabel: true
						},
						tooltip: { // 鼠标移上去显示信息
							trigger: 'axis'
						},
						xAxis: {
							type: 'category',
							boundaryGap: false,
							data: ['一', '二', '三', '四', '五', '六', '七'],
							axisLabel: {
								textStyle: {
									color: '#fff',//坐标值得具体的颜色
							 
								}
							}
						},
						yAxis: {
							type: 'value',
							axisLabel: {
							   textStyle: {
								   color: '#fff'
							   }
						   }
						},
						series: [{
							data: [20, 50, 500, 300, 350, 260, 220],
							type: 'line'
						}]
					}
					myChart.setOption(option)
				}
				
				window.onresize = function() {
					myChart.resize()
				}
				
			}
			
			// 异步请求环保事件
	        reqErrsHB(11)
	        function reqErrsHB(errsType) {
	            $.ajax({
	                type : "GET", //提交方式
	                url : "http://localhost:8080/errs/listErrsByType",//路径
	                // async: false,
	                data : {
	                    errsType: errsType
	                },//数据，这里使用的是Json格式进行传输
	                success: function(result) {//返回数据根据结果进行相应的处理
	                    if (result) {
	
	
	                        vm.errsHB = result.data
	                    } else {
	                        console.info("出错")
	                    }
	                },
	            });
	        }
			
			// 异步请求工商事件
	        reqErrsGS(12)
	        function reqErrsGS(errsType) {
	            $.ajax({
	                type : "GET", //提交方式
	                url : "http://localhost:8080/errs/listErrsByType",//路径
	                // async: false,
	                data : {
	                    errsType: errsType
	                },//数据，这里使用的是Json格式进行传输
	                success: function(result) {//返回数据根据结果进行相应的处理
	                    if (result) {
	
	
	                        vm.errsGS = result.data
	                    } else {
	                        console.info("出错")
	                    }
	                },
	            });
	        }
	        
	        // 异步请求民政事件
	        reqErrsMZ(13)
	        function reqErrsMZ(errsType) {
	            $.ajax({
	                type : "GET", //提交方式
	                url : "http://localhost:8080/errs/listErrsByType",//路径
	                // async: false,
	                data : {
	                    errsType: errsType
	                },//数据，这里使用的是Json格式进行传输
	                success: function(result) {//返回数据根据结果进行相应的处理
	                    if (result) {
	
	
	                        vm.errsMZ = result.data
	                    } else {
	                        console.info("出错")
	                    }
	                },
	            });
	        }
	        
	        // 异步请求税务事件
	        reqErrsSW(14)
	        function reqErrsSW(errsType) {
	            $.ajax({
	                type : "GET", //提交方式
	                url : "http://localhost:8080/errs/listErrsByType",//路径
	                // async: false,
	                data : {
	                    errsType: errsType
	                },//数据，这里使用的是Json格式进行传输
	                success: function(result) {//返回数据根据结果进行相应的处理
	                    if (result) {
	
	
	                        vm.errsSW = result.data
	                    } else {
	                        console.info("出错")
	                    }
	                },
	            });
	        }
	        
	        // 异步请求公安事件
	        reqErrsGA(15)
	        function reqErrsGA(errsType) {
	            $.ajax({
	                type : "GET", //提交方式
	                url : "http://localhost:8080/errs/listErrsByType",//路径
	                // async: false,
	                data : {
	                    errsType: errsType
	                },//数据，这里使用的是Json格式进行传输
	                success: function(result) {//返回数据根据结果进行相应的处理
	                    if (result) {
	
	
	                        vm.errsGA = result.data
	                    } else {
	                        console.info("出错")
	                    }
	                },
	            });
	        }
			
			
			
			
			
			/*** ******************************* Vue开始 踩坑3：vue需要放在window.onload函数外，才不会对地图上的控件的点击事件不会造成影响 */
			var vm;
			initVue()
			function initVue() {
				// 字符串转时间过滤器
				Vue.filter('dateStr', function (timestamp) {
					var d = new Date(timestamp );    //根据时间戳生成的时间对象
					var date =
						(d.getMonth() + 1) + "-" +
						(d.getDate()) + " " +
						(d.getHours()) + ":" +
						(d.getMinutes()) + ":" +
						(d.getSeconds());
					return date
				})
				vm = new Vue({
					el: '#main',
					data: {
						errsHB: [],
						errsGS: [],
						errsMZ: [],
						errsSW: [],
						errsGA: []
					},
					methods: {
						fullScreen() {
							console.log(this.isFullScreen)
							if(this.isFullScreen) {
								var el = document.documentElement;
								var rfs = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullscreen;
								if(typeof rfs != "undefined" && rfs) {
									rfs.call(el);
								}else{
									getMsg("浏览器不支持全屏调用，请使用其他浏览器或按F11键切换全屏！");
									return;
								}
								this.isFullScreen = false
							} else {
								if(document.exitFullscreen) {
									document.exitFullscreen();
								} else if(document.mozCancelFullScreen) {
									document.mozCancelFullScreen();
								} else if(document.webkitCancelFullScreen) {
									document.webkitCancelFullScreen();
								} else if(document.msExitFullscreen) {
									document.msExitFullscreen();
								}
								if(typeof cfs != "undefined" && cfs) {
									cfs.call(el);
								}
								this.isFullScreen = true
							}
						}
					},
					
					// 钩子函数
					mounted: function () {
					
					},
					// 监听属性
					watch: {
						
					}
				});
					
			}
			
			/** ******************************* Vue完 ***************************************/
		</script>
	</body>
</html>
